.footer {
  background-color: rgb(235, 240, 245);
  padding: 0 0 60px 0;
}
.footer-inside {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  list-style-type: none;
}

.footer-icon {
  height: 18pt;
}

.footer-copyright-link {
  color: rgb(145, 160, 175);
  font-family: "bree_serifregular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
}
