/* Reoccouring text styles*/
h1 {
  font-family: "bree_serifregular", Helvetica, Arial, sans-serif;
  color: #444444;
  font-size: 44px;
  line-height: 28px;
  font-weight: 500;
}

h2 {
  font-family: "bree_serifregular", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  padding: 2px;
}

.h2-box {
  color: rgb(242, 245, 248);
  background-color: rgb(145, 160, 175);
  background-color: rgba(145, 160, 175, 0.75);
}

h3 {
  font-family: "bree_serifregular", Helvetica, Arial, sans-serif;
  color: #444444;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

a {
  color: rgb(145, 160, 175);
  font-family: "bree_serifregular", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
