.container {
  min-height: 100%;
}

.main {
  padding-bottom: 140px;
}

/* Changes screen width with aspect ratio */
.dynamic-scaling {
  width: 50%;
}

@media screen and (max-aspect-ratio: 16/9) {
  .dynamic-scaling {
    width: 65%;
  }
}

@media screen and (max-aspect-ratio: 11/10) {
  .dynamic-scaling {
    width: 75%;
  }
}

@media screen and (max-aspect-ratio: 10/11) {
  .dynamic-scaling {
    width: 90%;
  }
}

/* Styles for creating the body of the website */
.mainstyle-outer {
  margin: 0 auto;
  padding: 0;
}

.mainstyle-inner {
  border-bottom: 1px solid rgb(145, 160, 175);
  margin: 100px 0px;
  padding-bottom: 60px;
}
